<div id="login">
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn-si btn-foursquare" do %>
          <i class="fa fa-foursquare" aria-hidden="true"></i>
          <%=  "Sign in with #{OmniAuth::Utils.camelize(provider)}"  %>
      <% end %>
    <% end -%>
  <% end -%>
</div>

